@media (max-width: 225px) {
  body {
    width: fit-content;
  }

  .frame {
    width: 200px;
    height: 200px;
  }

  .nama-pengantin {
    font-size: 40px;
  }

  .subject-2 p {
    margin-bottom: unset;
  }

  .date-border {
    width: 80%;
    height: 54%;
  }
}

@media (min-width: 320px) {
  .mempelai-wanita {
    margin-bottom: 2rem;
  }

  .mempelai-pria {
    margin-bottom: 3rem;
  }

  .frame {
    width: 200px;
    height: 200px;
  }

  .subject-2 p {
    margin-bottom: unset;
  }

  .dates {
    margin-top: 1.5rem;
  }
}

@media (min-width: 375px) {
  .date-border {
    width: 100%;
    height: 90%;
  }
}
@media (min-width: 414px) {
  .date-border {
    width: 85%;
    height: 90%;
  }
}

@media (min-width: 992px) {
  .date-border {
    width: 67%;
    height: 100%;
  }
}
