@media (max-width: 600px) {
  .mempelai-wanita {
    margin-bottom: 2rem;
  }

  .mempelai-pria {
    margin-bottom: 3rem;
  }

  .frame {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1000px) {
}
