body {
  font-family: 'Cinzel';
}

.nav-link img {
  width: 24px;
}

section {
  min-height: 500px;
}

.frame {
  border: white 2px solid;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  padding: 11px;
}

.mempelai {
  background-color: #142b39;
}

.mempelai img {
  width: 100%;
}
.mempelai p {
  text-align: center;
}
