@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body {
  font-family: 'Cinzel';
}

.nav-link img {
  width: 28px;
}

.nav-link {
  padding: 1rem 1rem;
}

section {
  min-height: 900px;
}

.frame {
  border: white 2px solid;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  padding: 11px;
}

.mempelai {
  background-color: #142b39;
}

.mempelai img {
  width: 100%;
}
.mempelai p {
  text-align: center;
}

.pembuka img {
  width: 250px;
  margin: 2rem 0;
}

.pembuka p {
  font-size: 18px;
}

.nama-pengantin {
  font-weight: bold;
  font-size: 48px;
}

.ortu {
  font-size: 22px;
}

.pengantin {
  line-height: 1.4;
}

.subject-section-2 {
  border: 4px solid goldenrod;
  color: goldenrod;
  box-shadow: 0px 4px 7px 1px rgb(234 202 58);
  width: 36.333333%;
}

.subject-section-3 {
  border: 4px solid white;
  color: white;
  box-shadow: 0px 4px 7px 1px rgb(117 116 112);
  width: 36.333333%;
}

.subject-acara {
  color: gold;
}

.subject-acara hr {
  border-bottom: 2.5px solid #daa520;
  opacity: unset;
  margin-top: 26px;
}

.subject-2 p {
  font-size: 38px;
  font-family: 'Alex Brush', cursive;
  -webkit-text-stroke: 0.7px goldenrod;
}

.date p {
  font-size: 20px;
}

.alamat p {
  font-size: 20px;
  font-weight: bold;
}

.date-border {
  margin: 0 auto;
  border: 5px solid #daa520;
}

.menghitung-hari {
  width: 270px;
  height: 70px;
  border: 3px solid goldenrod;
  opacity: unset;
}

.menghitung-hari p {
  width: 250px;
  height: 50px;
  background-color: goldenrod;
  color: white;
  padding-top: 9px;
  font-size: 22px;
  font-weight: bold;
}

.akad {
  border: 4px solid goldenrod;
  opacity: unset;
  height: 350px;
  width: 400px;
}

.resepsi {
  border: 4px solid goldenrod;
  opacity: unset;
  height: 350px;
  width: 400px;
}

.resepsi hr,
.akad hr {
  width: 50%;
  position: relative;
  bottom: 20%;
}

.time-container {
  background-color: goldenrod;
  border-radius: 0.5rem;
}
.time-container,
.label-container {
  width: 6%;
}

.time-container p {
  font-size: 34px;
  font-weight: bold;
  -webkit-text-stroke: 1px;
}

.label-container p {
  font-size: 20px;
  font-weight: 600;
  color: goldenrod;
  -webkit-text-stroke: 1px;
  letter-spacing: 2px;
}

.gallery {
  background-color: #142b39;
}
